{% extends "layout.html" %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="row">
        <div class="col"><img src="{{ url_for('static', filename='img/psyduck.png') }}" alt="" class="avatar"></div>
        <div class="col">{{ session.first_name + ' '+  session.last_name }}</div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2>(variable datePhase) headache pain scale check</h2>
            <hr>
            <form action="{{ url_for('scale') }}" method="post">
                <label class="radio-inline">
                    <input type="radio" name="optradio" checked value="1">1
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="2">2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="3">3
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="4">4
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="5">5
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="6">6
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="7">7
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="8">8
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="9">9
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="10">10
                </label>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="scale">
                    Submit
                </button>
            </form>
        </div>
    </div>

{% endblock %}