{% extends "layout.html" %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="row">
        <div class="col"><img src="{{ url_for('static', filename='img/psyduck.png') }}" alt="" class="avatar"></div>
        <div class="col">{{ session.first_name + ' '+  session.last_name }}</div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2>(variable datePhase) headache pain scale check</h2>
            <hr>
            <form>
                <label class="radio-inline"><h5>1</h5>
                    <input type="radio" name="optradio" checked>
                </label>
                <label class="radio-inline"><h5>2</h5>
                    <input type="radio" name="optradio">
                </label>
                <label class="radio-inline"><h5>3</h5>
                    <input type="radio" name="optradio">
                </label>
                <label class="radio-inline"><h5>4</h5>
                    <input type="radio" name="optradio">
                </label>
                <label class="radio-inline"><h5>5</h5>
                    <input type="radio" name="optradio">
                </label>
                <label class="radio-inline"><h5>6</h5>
                    <input type="radio" name="optradio">
                </label>
                <label class="radio-inline"><h5>7</h5>
                    <input type="radio" name="optradio">
                </label>
                <label class="radio-inline"><h5>8</h5>
                    <input type="radio" name="optradio">
                </label>
                <label class="radio-inline"><h5>9</h5>
                    <input type="radio" name="optradio">
                </label>
                <label class="radio-inline"><h5>10</h5>
                    <input type="radio" name="optradio">
                </label>
            </form>
        </div>
    </div>

{% endblock %}