{% extends "layout.html" %}

{% block content %}

    {% include 'navbar.html' %}

{#    <div class="row">#}
{#        <div class="col"><img src="{{ url_for('static', filename='img/psyduck.png') }}" alt="" class="avatar"></div>#}
{#        <div class="col">{{ session.first_name + ' '+  session.last_name }}</div>#}
{#    </div>#}
    <div class="row">
        <div class="col text-center">
            <h2>{{ dayPhase }} headache pain scale check</h2>
            <hr>
            <form action="{{ url_for('scale') }}" method="post">
                <label class="radio-inline">
                    <input type="radio" name="optradio" checked value="1">1
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="2">2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="3">3
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="4">4
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="5">5
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="6">6
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="7">7
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="8">8
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="9">9
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" value="10">10
                </label>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="scale">
                    Submit
                </button>
            </form>
        </div>
    </div>

    <hr>

    <table class="table">
        <tr>
            <th>day 1</th>
            <th>day 2</th>
            <th>day 3</th>
            <th>day 4</th>
            <th>day 5</th>
            <th>day 6</th>
            <th>day 7</th>
            <th>day 8</th>
            <th>day 9</th>
            <th>day 10</th>
        </tr>
        <tr>
            <td id="1"></td>
            <td id="2"></td>
            <td id="3"></td>
            <td id="4"></td>
            <td id="5"></td>
            <td id="6"></td>
            <td id="7"></td>
            <td id="8"></td>
            <td id="9"></td>
            <td id="10"></td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>day 11</th>
            <th>day 12</th>
            <th>day 13</th>
            <th>day 14</th>
            <th>day 15</th>
            <th>day 16</th>
            <th>day 17</th>
            <th>day 18</th>
            <th>day 19</th>
            <th>day 20</th>
        </tr>
        <tr>
            <td id="11"></td>
            <td id="12"></td>
            <td id="13"></td>
            <td id="14"></td>
            <td id="15"></td>
            <td id="16"></td>
            <td id="17"></td>
            <td id="18"></td>
            <td id="19"></td>
            <td id="20"></td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>day 21</th>
            <th>day 22</th>
            <th>day 23</th>
            <th>day 24</th>
            <th>day 25</th>
            <th>day 26</th>
            <th>day 27</th>
            <th>day 28</th>
            <th>day 29</th>
            <th>day 30</th>
        </tr>
        <tr>
            <td id="21"></td>
            <td id="22"></td>
            <td id="23"></td>
            <td id="24"></td>
            <td id="25"></td>
            <td id="26"></td>
            <td id="27"></td>
            <td id="28"></td>
            <td id="29"></td>
            <td id="30"></td>
        </tr>
    </table>

{% endblock %}